In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
from datetime import datetime
plt.rc('font', family='NanumBarunGothic')

In [2]:
# Load the dataset
transaction = pd.read_csv('transaction_new.csv')

In [3]:
transaction.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753

In [4]:
# 정보 확인
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   booking_id              1254585 non-null  object
 3   session_id              1254585 non-null  object
 4   payment_method          1254585 non-null  object
 5   payment_status          1254585 non-null  object
 6   promo_amount            1254585 non-null  int64
 7   promo_code              481139 non-null   object
 8   shipment_fee            1254585 non-null  int64
 9   shipment_date_limit     1254585 non-null  object
 10  shipment_location_lat   1254585 non-null  float64
 11  shipment_location_long  1254585 non-null  float64
 12  total_amount            1254585 non-null  int64
 13  product_id              1254585 non-null  int64
 14  quantity                1254585 non-null  int64
 15  item_price              1254585 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 153.1+ MB

In [5]:
# 결측치 확인
transaction.isnull().sum()

created_at                     0
customer_id                    0
booking_id                     0
session_id                     0
payment_method                 0
payment_status                 0
promo_amount                   0
promo_code                773446
shipment_fee                   0
shipment_date_limit            0
shipment_location_lat          0
shipment_location_long         0
total_amount                   0
product_id                     0
quantity                       0
item_price                     0
dtype: int64

In [6]:
#중복값 확인
transaction.duplicated().sum()

0

In [7]:
print("created_at:", transaction['created_at'].nunique())
print("customer_id:", transaction['customer_id'].nunique())
print("booking_id:", transaction['booking_id'].nunique())
print("session_id:", transaction['session_id'].nunique())
print("payment_method:", transaction['payment_method'].unique())
print("payment_status:", transaction['payment_status'].unique())
print("promo_amount:", transaction['promo_amount'].nunique())
print("promo_code:", transaction['promo_code'].unique())
print("shipment_fee:", transaction['shipment_fee'].unique())
print("shipment_date_limit:", transaction['shipment_date_limit'].nunique())
print("shipment_location_lat:", transaction['shipment_location_lat'].nunique())
print("shipment_location_long:", transaction['shipment_location_long'].nunique())
print("total_amount:", transaction['total_amount'].nunique())
print("product_id:", transaction['product_id'].nunique())
print("quantity:", transaction['quantity'].unique())
print("item_price:", transaction['item_price'].nunique())

created_at: 852584
customer_id: 50705
booking_id: 852584
session_id: 852584
payment_method: ['Debit Card' 'Credit Card' 'OVO' 'LinkAja' 'Gopay']
payment_status: ['Success' 'Failed']
promo_amount: 15180
promo_code: ['WEEKENDSERU' nan 'WEEKENDMANTAP' 'AZ2022' 'LIBURDONG' 'BUYMORE' 'XX2022'
 'STARTUP' 'SC2022']
shipment_fee: [10000     0  5000 50000 25000 15000]
shipment_date_limit: 852584
shipment_location_lat: 440963
shipment_location_long: 440963
total_amount: 469757
product_id: 44446
quantity: [ 1  4  6  2  8  3  5  7 12 10  9 13 11 20 14 19 15 17 23 16 26 22 21 33
 24 31 18 32 25 37 36 27 30 28 40 29 35 34 38 41 48 42 39 43]
item_price: 382996

In [8]:
# 년도 datetime으로 타입 변경
transaction['created_at'] = pd.to_datetime(transaction['created_at'])
transaction['shipment_date_limit'] = pd.to_datetime(transaction['shipment_date_limit'])

In [9]:
# 배송기간 계산
transaction['shipment_date'] = (transaction['shipment_date_limit'] - transaction['created_at']).dt.days

In [10]:
# promo_code 결측치 nopromo로 변경
transaction['promo_code'].fillna('nopromo', inplace=True)

In [11]:
transaction.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,shipment_date
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676+00:00,-8.227893,111.969107,199832,54728,1,191247,4
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,nopromo,10000,2018-08-03 01:29:03.415705+00:00,3.013470,107.802514,155526,16193,1,145526,3
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,nopromo,10000,2018-09-18 08:41:49.422380+00:00,-2.579428,115.743885,550696,53686,4,135174,2
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,nopromo,0,2018-11-05 17:42:27.954235+00:00,-3.602334,120.363824,271012,20228,1,271012,4
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,nopromo,0,2018-12-23 17:24:07.361785+00:00,-3.602334,120.363824,198753,55220,1,198753,5

# 토탈 어마운트 관련 내용 전처리 작업

In [12]:
transaction_t = transaction.copy()

In [13]:
# 'created_at', 'promo_amount', 'shipment_fee', 'total_amount' total_amount 컬럼의 중복값 제거
transaction_t = transaction_t.drop_duplicates(subset=['created_at', 'total_amount', 'customer_id'])

In [14]:
# 일회성 고객 분류 'customer_id' 컬럼의 중복값 여부를 확인하고 'customer_type' 컬럼에 분류 결과 추가
transaction_t['customer_type'] = '0'
transaction_t.loc[transaction_t['customer_id'].duplicated(keep=False), 'customer_type'] = '1'

transaction_t.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,shipment_date,customer_type
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676+00:00,-8.227893,111.969107,199832,54728,1,191247,4,0
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,nopromo,10000,2018-08-03 01:29:03.415705+00:00,3.013470,107.802514,155526,16193,1,145526,3,1
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,nopromo,10000,2018-09-18 08:41:49.422380+00:00,-2.579428,115.743885,550696,53686,4,135174,2,1
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,nopromo,0,2018-11-05 17:42:27.954235+00:00,-3.602334,120.363824,271012,20228,1,271012,4,1
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,nopromo,0,2018-12-23 17:24:07.361785+00:00,-3.602334,120.363824,198753,55220,1,198753,5,1

In [15]:
payment_status_counts = transaction_t['customer_type'].value_counts()
print(payment_status_counts)

customer_type
1    842343
0     10241
Name: count, dtype: int64

In [16]:
transaction_t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 852584 entries, 0 to 1254584
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   created_at              852584 non-null  datetime64[ns, UTC]
 1   customer_id             852584 non-null  int64
 2   booking_id              852584 non-null  object
 3   session_id              852584 non-null  object
 4   payment_method          852584 non-null  object
 5   payment_status          852584 non-null  object
 6   promo_amount            852584 non-null  int64
 7   promo_code              852584 non-null  object
 8   shipment_fee            852584 non-null  int64
 9   shipment_date_limit     852584 non-null  datetime64[ns, UTC]
 10  shipment_location_lat   852584 non-null  float64
 11  shipment_location_long  852584 non-null  float64
 12  total_amount            852584 non-null  int64
 13  product_id              852584 non-null  int64
 14  quantity                852584 non-null  int64
 15  item_price              852584 non-null  int64
 16  shipment_date           852584 non-null  int64
 17  customer_type           852584 non-null  object
dtypes: datetime64[ns, UTC](2), float64(2), int64(8), object(6)
memory usage: 123.6+ MB

In [18]:
transaction_t.to_csv("transaction_t.csv", index=False)

# 제품가격 총합으로 변경해서 전처리 진행

In [17]:
transaction_n = transaction.copy()

In [18]:
transaction_n['total_cost'] = transaction_n['item_price'] * transaction_n['quantity']

In [19]:
# 제품가격 사용 불가능한 컬럼 제외
transaction_n.drop(columns=['total_amount'], inplace=True)

In [20]:
transaction_n.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,product_id,quantity,item_price,shipment_date,total_cost
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676+00:00,-8.227893,111.969107,54728,1,191247,4,191247
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,nopromo,10000,2018-08-03 01:29:03.415705+00:00,3.013470,107.802514,16193,1,145526,3,145526
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,nopromo,10000,2018-09-18 08:41:49.422380+00:00,-2.579428,115.743885,53686,4,135174,2,540696
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,nopromo,0,2018-11-05 17:42:27.954235+00:00,-3.602334,120.363824,20228,1,271012,4,271012
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,nopromo,0,2018-12-23 17:24:07.361785+00:00,-3.602334,120.363824,55220,1,198753,5,198753

In [21]:
# 일회성 고객 분류 'customer_id' 컬럼의 중복값 여부를 확인하고 'customer_type' 컬럼에 분류 결과 추가
transaction_n['customer_type'] = '0'
transaction_n.loc[transaction_n['customer_id'].duplicated(keep=False), 'customer_type'] = '1'

transaction_n.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,product_id,quantity,item_price,shipment_date,total_cost,customer_type
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676+00:00,-8.227893,111.969107,54728,1,191247,4,191247,0
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,nopromo,10000,2018-08-03 01:29:03.415705+00:00,3.013470,107.802514,16193,1,145526,3,145526,1
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,nopromo,10000,2018-09-18 08:41:49.422380+00:00,-2.579428,115.743885,53686,4,135174,2,540696,1
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,nopromo,0,2018-11-05 17:42:27.954235+00:00,-3.602334,120.363824,20228,1,271012,4,271012,1
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,nopromo,0,2018-12-23 17:24:07.361785+00:00,-3.602334,120.363824,55220,1,198753,5,198753,1

In [22]:
payment_status_counts2 = transaction_n['customer_type'].value_counts()
print(payment_status_counts2)

customer_type
1    1246111
0       8474
Name: count, dtype: int64

In [25]:
def categorize_price(item_price):
    q1 = np.percentile(transaction_n['item_price'], 25)
    q3 = np.percentile(transaction_n['item_price'], 75)
    
    categories = np.select([item_price <= q1, item_price <= q3], ['저가', '중가'], default='고가')
    return categories

# 'price_category' 컬럼 추가하여 벡터화된 연산으로 그룹화
transaction_n['price_category'] = categorize_price(transaction_n['item_price'])
group_counts = transaction_n['price_category'].value_counts()

In [26]:
group_counts

price_category
중가    627296
저가    313647
고가    313642
Name: count, dtype: int64

In [27]:
transaction_n.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,product_id,quantity,item_price,shipment_date,total_cost,customer_type,price_category
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676+00:00,-8.227893,111.969107,54728,1,191247,4,191247,0,중가
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,nopromo,10000,2018-08-03 01:29:03.415705+00:00,3.013470,107.802514,16193,1,145526,3,145526,1,저가
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,nopromo,10000,2018-09-18 08:41:49.422380+00:00,-2.579428,115.743885,53686,4,135174,2,540696,1,저가
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,nopromo,0,2018-11-05 17:42:27.954235+00:00,-3.602334,120.363824,20228,1,271012,4,271012,1,중가
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,nopromo,0,2018-12-23 17:24:07.361785+00:00,-3.602334,120.363824,55220,1,198753,5,198753,1,중가

In [25]:
transaction_n.to_csv("transaction_n.csv", index=False)